{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
  <div class="input-group" id="form-div">
    <select id="symbol" name="symbol" class="form-select" aria-label="Default select example">
      {% for stock in portifolio %}
      <option value={{ stock.symbol }}>{{ stock.symbol }}</option>
      {% endfor %}
    </select>
    <input autocomplete="off" autofocus class="form-control" id="shares" min="1" name="shares"
      placeholder="Share" required type="number" value="1" />
    <button class="btn btn-primary" type="submit">Sell</button>
  </div>
</form>
{% endblock %}